* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Fallback, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg ,#dddbd1 ,#d2dbdc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main-wrapper */
.main-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    background-color: #FFF;
    box-shadow: 0 1px 1px 0 rgba(0 ,0 ,0 , .06), 0 2px 5px 0 rgba(0 ,0 ,0, .2);
}

.row {
    display: flex;
    flex-direction: column;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    height: 80px;
    width: 80px;
    margin: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    color: #333;
    user-select: none;
}

.cell__hover {
    background-color: #333;
    color: #FFF;
}

.cell__green,
.cell__yellow {
    font-size: 60px;
    font-weight: bolder;
    border: none;
}

.cell__green {
    background-color: rgb(0, 153, 0);
}

.cell__yellow {
    background-color: rgb(255, 209, 26);
}

.cell__red {
    background-color: rgb(255, 0, 0);
    border: none;
    font-size: 35px;
}

.template {
    display: none;
}
/* *************************************************************** */
@font-face {
    font-family: Segoe UI;
    src:
        local("Segoe UI"),
        url('http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2') format("woff2");
}
